/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@400;600&family=Poppins:wght@500&family=Roboto&display=swap');

/* common style */
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display:flex;
   flex-direction: column;
   align-items: center;
}
.containar{
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{border: 1px solid #D1D1D1;
margin-top:30px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-bottom: 40px;
    margin-top: 3px;
}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;

   
}
.player img{
    height: 56px;
    width: 56px;


}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styles */
.section-title-two{
    margin-bottom: 31px;
    margin-top: 30px;
}
.blogs{display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.title-raper{
    width: 197px;
    height: 68px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F
}
.blog-author a{
    color:#562EFF;
    text-decoration: none;
    font-size: 16px;
}
/*----------------
 courses style
------------------*/
.another-title{
    color:#562EFF;
    margin-bottom: 11px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course{
    
    width: 220px;
    box-shadow: 1px 7px 10px 0px #edecec;
    border-radius: 20px;
    padding: 22px;

}
.course .image-banar img{
    width: 224px;
    height: 104px;
}
.course-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.rttings .fas{
    color:orange;
    font-size: 12px;
}
.rttings .color{color:#AEAEAE}
.course-duration {
    color: #ED6B4F;
    background-color: #FEE5DF;
    border-radius: 15px;
    padding: 2px 8px;
}
.course-author{
    color:#ED6B4F;
    padding: 4px;
}
/*---------------
 Media Queries
 ---------------*/

 /* Mobile Devicies */
 @media Only screen and (max-width:668px) {
     .containar{width: 100%;}
     .section-title{
        text-align: center;
    }
    .another-title{text-align: center;}
     .players, .blogs,.courses {
    grid-template-columns: repeat(1,1fr);
     }
     .player, .blog, .course {
         flex-direction: column;
         align-items: center;
         margin: 0 auto;
        }
 }

/* For tablet only */
@media Only screen and (min-width:668px)and (max-width:992px) {
    .containar{width: 100%;}
    .another-title{text-align: center;}
    .players, .blogs,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .section-title{
        text-align: center;
    }
    .player, .blog, .course{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

}